*{
    box-sizing: border-box;
    margin: 0;
}

body{
    width: 100vw;
    background-color: #28282B;
    color:#d4d4bd;
}

/* navbar */

.navbar-custom {
    background-color:#F9F6EE;
}

.navbar{
    min-height: 10vh;
    top: 0;
    width: 100vw;
}

.link{
    text-decoration: none;
    color: black;
 }

 
 .navbar-custom :hover{
     color: #D6D4A0;
 }


/* background img citation */

@keyframes firstBg
{
   0%   {background-image: url("./img/chef.jpeg");}
   25%  {background-image: url("./img/plat.jpeg");}
   50%  {background-image: url("./img/chef_cuisine.jpeg");}
   100% {background-image: url("./img/cuisine.jpeg");}
}

@keyframes secondBg {
    0% {background-image: url("./img/table.jpeg");}
    100% {background-image: url("./img/bar.jpeg");}
}


.background_first{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    animation: firstBg 30s ease infinite;
}

.background_second{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    animation:secondBg 15s ease infinite;
}

.citation{
    color:#D6D4A0;
    padding: 2em;
    background-color: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
}

/* text / background / color */
.uppercase{
    text-transform:lowercase;
}

.text_size_petit{
    font-size: 0.6em;
}

.text_size{
    font-size: 1.2em;
}

.text_size_medium{
    font-size: 1.5em;
}

.text_source{
    font-family: 'Source Sans Pro', sans-serif;
}

.text_cormorant{
    font-family: 'Cormorant Garamond', serif;
}

.text_black{
    color: #28282B ;
}

.background_light{
    background-color: #FAF9F6;
}

.background_medium{
    background-color:#654236;
}

.brown_color{
   border-color:  #654236 ;
}

.background_medium:hover{
    background-color:#654236;
    border-color:  #654236
}


/* padding */

.padding_section{
    padding-top: 5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 5em;
}

.padding_texte{
    padding-top: 2em ;
    padding-bottom: 2em ;
}

article>h1{
    padding-bottom: 0.8em;
}

.margin_none{
    margin: 0;
}

.padding_none{
    padding: 0;
}


/* img */ 

.logo{
    position: absolute;
    top:0;
    left:0;
}

    /* Carousel*/

.bloc_carousel{
    background-color: #654236;
}

.carousel{
    width: 70vw;
    margin: auto;
}

.carousel_images{
    width: 70vw;
    padding-top: 5vh;
}

.color-hypertext{
    text-decoration: none;
    color: rgb(0, 0, 0)
}

.color-hypertext :hover{
    color: #D6D4A0;
}

.centrer-textes-carousel{
    text-align: center;
}

.sr-only{
    color: #D6D4A0;
}

    /*Fin carousel*/
     /*Referents*/

.logo-ref{
    width: 20vw;
}

    /*Fin Referents*/

article>h1{
    padding-bottom: 0.8em;
}

.icone{
    width: 3.5em;
}

/* form réservation */ 

.reservation{
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
}

form{
    height: 100%;
}

/* footer */

footer{
    height: 15vh;
}


@media (min-width: 768px){

    .text_size_petit{
        font-size: 0.8em;
    }

    .citation{
        width: 60vw;
    }

    .reservation{
        width: 60vw;
    }
    
}

@media(min-width: 1024px){

    .navbar-collapse{
        flex-grow: 0;
    }

    .text_size_petit{
        font-size: 0.8em;
    }

    .text_size{
        font-size: 1.1em;
    }
    
    .text_size_medium{
        font-size: 1.8em;
    }

    .citation{
        width: 40vw;
    }

    .reservation{
        width: 40vw;
    }


}