*{
    box-sizing: border-box;
    margin: 0;
}

body{
    width: 100vw;
    background-color: #28282B;
    color:#d4d4bd;
}

/* navbar */

.navbar-custom {
    background-color: #654236;
}

.navbar{
    min-height: 10vh;
}


/* background img citation */

@keyframes changeBg
{
   0%   {background-image: url("./img/chef.jpeg");}
   25%  {background-image: url("./img/plat.jpeg");}
   50%  {background-image: url("./img/table.jpeg");}
   100% {background-image: url("./img/cuisine.jpeg");}
}


.background_img{
    background-size: cover;
    background-position: center;
    height: 100vh;
    animation:changeBg 30s ease infinite;
}

.citation{
    color:#D6D4A0;
    padding: 2em;
    background-color: black;
    opacity: 0.5;
}

/* text / background*/

.text_cormorant{
    font-family: 'Cormorant Garamond', serif;
}

.text_size_petit{
    font-size: 0.6em;
}
.text_size_medium{
    font-size: 1em;
}

.text_source{
    font-family: 'Source Sans Pro', sans-serif;
}

.text_black{
    color: #28282B ;
}

.background_light{
    background-color: #d4d4bd;
}

.background_medium{
    background-color:#654236;
}

/* padding */

.padding{
    padding-top: 5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 5em;
}

article>h1{
    padding-bottom: 0.8em;
}

.margin_none{
    margin: 0;
}

.padding_none{
    padding: 0;
}
/* img */ 

.logo{
    position: absolute;
    top:0;
    left:0;
}

.icone{
    width: 3.5em;
}



@media (min-width: 768px){

}

@media(min-width: 1280px){

    .navbar-collapse{
        flex-grow: 0;
    }

    .text_size{
        font-size: 1.5em;
    }

}